.rounded-circle{

    position: relative;
    margin-top: 30px;


}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 45px;
    
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}


/*Facebook*/

.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 3em;
	}
.fa-facebook{
	background: #3B5998;
	color: #FFFFFF;
    padding: 0.05em 0.3em;
    background: #3B5998;
    color: white;
    width: 30px;

	}


/*middle images*/

.col-md-5 img{

    border-radius: 10%;


}

.col-md-5 img:hover{
    transform: scale(1.05);
}

.col-md-5 img{
    transition: all 0.3s ease 0s;
    width: 100%;
}

.col-md-5 img{
    
    overflow: hidden;
}

footer{

    background: black;
    color: white;

}

.jumbotron{

    background: white;

}